{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "crlf",
  "arrowParrens": "always",
  "useTabs": false
}
