.movies {
  max-height: 80vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: grey;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: grey;
  }
}
